.welcome-meassage {
  font-size: 20px;
  color: green;
  padding: 10px;
  border: 2px solid green;  
  border-radius: 5px;
  background-color: #f0f8ff;
  width: fit-content;
  margin: 20px auto;
  text-align: center;

  
}
.signup-message{
  font-size: 20px;
  color: rgb(128, 0, 0);
  padding: 10px;
  border: 2px solid rgb(128, 0, 0);
  border-radius: 5px;
  background-color: #ffe4e1;
  width: fit-content;
  margin: 20px auto;
  text-align: center;

  
}